{
  "amazonAccounts": {
    "personal": {
      "username": "amazon-account@example.com",
      "paymentMethods": {
        "1234": "Frontier Airlines Mastercard",
        "2345": "Amazon Prime Visa"
      }
    },
    "second": {
      "username": "another-amazon-account@example.com",
      "paymentMethods": {
        "3456": "Chase Sapphire"
      }
    }
  }
}
